@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap'); 
@import url(1°--header_component.css);
@import url(2°--banner_component.css);
@import url(3°--carrossel_component.css);
@import url(4°--topicos_component.css);
@import url(5°--contato_component.css);
@import url(6°--rodape_component.css);

:root {
    --azul: #002f52;
    --cinza: #474646;
    --preto: #000000;
    --branco: #ffffff;
    --laranja: #eb9b00;
    --cinza-claro: #858585;
    --cor-de-fundo: #ebecee;
    --fonte-principal: "poppins";
    --fonte-secundario: "Josefin Sans";
    --background-banner: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
}